<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.calendar"
    version="1.0.0">
    <name>Calendar</name>
    <description>xFace Calendar Extension</description>
    <license>GPLv3</license>
    <keywords>cordova,xface,calendar</keywords>

    <js-module src="www/Calendar.js" name="Calendar">
        <clobbers target="xFace.ui.Calendar" />
    </js-module>
	
	 <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Calendar">
                <param name="android-package" value="com.polyvi.xface.extension.XCalendarExt"/>
            </feature>
        </config-file>
        <source-file src="src/android/XCalendarExt.java" target-dir="src/com/polyvi/xface/extension" />
     </platform>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="Calendar">
                 <param name="ios-package" value="XCalendarExt"/>
             </feature>
         </config-file>
         <header-file src="src/ios/private/XCalendarExt_Privates.h" />
         <header-file src="src/ios/XCalendarExt.h" />
         <source-file src="src/ios/XCalendarExt.m" />
     </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Calendar">
                <param name="wp-package" value="Calendar"/>
            </feature>
        </config-file>

        <source-file src="src/wp/XCalendarExt.cs" />
        <source-file src="src/wp/XDateTimePickerTask.cs" />
        <!-- dll -->
        <source-file src="src/wp/Microsoft.Phone.Controls.Toolkit.dll" />
        <!-- resource -->
        <!-- target-dir A directory into which the files should be copied, relative to the root of the Cordova project -->
        <source-file src="src/wp/Toolkit.Content/ApplicationBar.Cancel.png" target-dir="../../Toolkit.Content"/>
        <source-file src="src/wp/Toolkit.Content/ApplicationBar.Check.png" target-dir="../../Toolkit.Content"/>
        <source-file src="src/wp/Toolkit.Content/ApplicationBar.Delete.png" target-dir="../../Toolkit.Content"/>
        <source-file src="src/wp/Toolkit.Content/ApplicationBar.Select.png" target-dir="../../Toolkit.Content"/>
    </platform>
</plugin>